{{- if not .isWork -}}
# Personal brew software
cask "bitwarden"
cask "discord"
cask "notion"
cask "telegram"
cask "whatsapp"
{{- end -}}
# Common brew software
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "direnv"
brew "eza"
brew "fd"
brew "flock"
brew "fzf"
brew "gh"
brew "jq"
brew "regal"
brew "ripgrep"
brew "starship"
brew "yq"
brew "zinit"
