{{- if and (eq .chezmoi.os "darwin") (or (eq .profile "mac_work") (eq .profile "mac_personal")) -}}
{{- if ne .profile "mac_work" -}}
# Personal brew software
cask "bitwarden"
cask "discord"
cask "notion"
cask "telegram"
cask "whatsapp"
cask "vlc"
brew "prettyping"
brew "ssh-copy-id"
{{- end -}}
# Common brew software
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "delta"
brew "direnv"
brew "dockutil"
brew "eza"
cask "ghostty@tip"
brew "fd"
brew "flock"
brew "fzf"
brew "gh"
brew "jq"
brew "jump"
brew "regal"
brew "ripgrep"
brew "starship"
brew "yq"
brew "zinit"
{{- end }}
