# -------
# Modules
# -------
# If you modify this execute `zimfw uninstall & zimfw install`

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
zmodule homebrew

#
# Prompt
#
# Exposes git repository status information to prompts.
zmodule git-info
# theme asciiship
zmodule asciiship
zmodule duration-info

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

ztermtitle='%~'
zhighlighters=(main brackets)

