# -----------------
# Environment Exports
# -----------------

# Language and locale settings
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Development environment paths
{{- if eq .chezmoi.os "darwin" }}
PHP_PATH='/opt/homebrew/opt/php'
PYTHON_PATH='/opt/homebrew/opt/python'
RUBY_PATH='/opt/homebrew/opt/ruby'
{{- else }}
PHP_PATH='/usr/local/opt/php'
PYTHON_PATH='/usr/local/opt/python'
RUBY_PATH='/usr/local/opt/ruby'
{{- end }}

GLOBAL_COMPOSER_PATH="$HOME/.composer"

export GEM_HOME="$HOME/.gem"
export GOPATH="$HOME/.go"

# GPG configuration
export GPG_TTY=$(tty)

# Homebrew configuration
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_PREFIX="/opt/homebrew"
export HOMEBREW_CELLAR="/opt/homebrew/Cellar"
export HOMEBREW_REPOSITORY="/opt/homebrew"
export MANPATH="/opt/homebrew/share/man${MANPATH+:$MANPATH}:"
export INFOPATH="/opt/homebrew/share/info:${INFOPATH:-}"
{{- else }}
export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar"
export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew"
{{- end }}

export HOMEBREW_AUTO_UPDATE_SECS=86400
export HOMEBREW_NO_ANALYTICS=true
export HOMEBREW_INSTALL_BADGE="(ʘ‿ʘ)"

# Tool configurations
export FZF_DEFAULT_OPTS='
  --color=pointer:#ebdbb2,bg+:#3c3836,fg:#ebdbb2,fg+:#fbf1c7,hl:#8ec07c,info:#928374,header:#fb4934
  --reverse
'

export NAVI_PATH="{{ .chezmoi.sourceDir }}/doc/navi"

# Colors for ls
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# PATH construction
paths=(
  "$HOME/bin"
  "$PHP_PATH/bin"
  "$PHP_PATH/sbin"
  "$RUBY_PATH/bin"
  "$GOPATH/bin"
  "$GEM_HOME/bin"
  "$PYTHON_PATH/libexec/bin"
  "$GLOBAL_COMPOSER_PATH/vendor/bin"
{{- if eq .chezmoi.os "darwin" }}
  "/opt/homebrew/bin"
  "/opt/homebrew/sbin"
{{- else }}
  "/home/linuxbrew/.linuxbrew/bin"
  "/home/linuxbrew/.linuxbrew/sbin"
{{- end }}
  "/usr/local/bin"
  "/usr/local/opt/make/libexec/gnubin"
  "/usr/local/sbin"
)

PATH="$PATH:"$(IFS=":"; echo "${paths[*]}")
export PATH